.label {
    display: inline-flex;
    padding: 4px 14px;
    align-items: center;
    gap: 8px;

    border-radius: 28px;
    background-color: rgba(220, 252, 231, 1);

    color: rgba(21, 128, 61, 1);
}